.btnLabel{
	font-size: 16px;
    font-family: inherit;
    font-weight: bold;
    color: #505f79;
    padding: 10px;
    height: 32px;
    line-height: 20px;
}
#header-main{
    z-index: 999999;
}
.btnhref{
	width:100%;
	    box-shadow: rgba(0,0,0,0.2) 1px 1px 5px 0;
    border: none;
}
a.btn.btn-outline-dark.btnhref:hover {
    background: transparent;
}